{% extends 'TicketsApp/mainleader.html' %}

    {% block title %} 
    Incidentes Personales
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                   <span class='label label-danger'> Incidentes Personales </span>
                    
                </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" id="search" class="form-control" placeholder="Busqueda por Ticket...">
                  <span class="input-group-btn">
                            <a href="" onclick="this.href='ticket/'+document.getElementById('search').value">
                              <button class="btn btn-default" type="button">Ir</button></a>
                        </span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Lista de incidentes</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="example" class="table table-striped responsive-utilities jambo_table sortable">
                    <thead>
                      <tr class="headings">
                        
                        <th>Nº </th>
                        <th>Fecha del Incidente </th>
                        <th>Categoria </th>
                        <th>Prioridad </th>
                        <th>Resumen </th>
                        <th>Estado </th>
                        <th>Departamento </th>
                        <th class=" no-link last"><span class="nobr">Asignatario</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for pincident in pincidents %}
                      <tr class="even pointer">
                        <td class=" "><a href="{% url 'TicketsApp.views.ticket' pk=pincident.pk %}">{{pincident.t_id}}</a></td>
                        <td class=" ">{{pincident.t_reportmadeon}}</td>
                        <td class=" ">{{pincident.t_category}}</td>
                        <td class=" ">{{pincident.t_priority}}</td>
                        <td class=" " style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden"> {{pincident.t_description}}</div></td>
                        <td class="a-right a-right ">{{pincident.t_state}}</td>
                        <td class="a-right a-right ">{{pincident.t_department}}</td>
                        <td class=" last">{{pincident.t_usersolver}}</td>
                      </tr>
                    {% endfor %}

                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                    </tbody>

                  </table>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>

        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Carlos Farinha - Amagi</p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>




{% endblock %}