{% extends 'TicketsApp/maincreator.html' %}

    {% block title %} 
    Ticket 
    {% endblock %}
 <script src="js/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
{% block content %}
    <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h1>
                  <span id="sol"></span>
                  <script>
                      var b = "{{ticketpk.t_isincident}}" 
                      var text;  
                       if ( b=="True") {
                          text = "<span class='label label-danger'>Ticket # {{ticketpk.t_id}}</span>"
                       }else{
                          text = "<span class='label label-info'>Ticket # {{ticketpk.t_id}}</span>"
                       }
                      document.getElementById("sol").innerHTML = text;
                
                  </script>                    
              </h1>
            </div>
          </div>
           <div class="x_content">
                    <a href="{% url 'TicketsApp.views.ticket_assign' pk=ticketpk.pk %}" class="btn btn-default btn-dark">
                                        <i class="fa fa-users"></i> Asignar Ticket
                    </a> 
                    <a href="{% url 'TicketsApp.views.ticket_edit' pk=ticketpk.pk %}" class="btn btn-default btn-dark">
                                        <i class="fa fa-edit"></i> Editar Ticket
                    </a> 
                  
                    <a href="{% url 'TicketsApp.views.ticket_attach' pk=ticketpk.pk %}" class="btn btn-default btn-dark">
                                        <i class="fa fa-paperclip"></i> Adjuntar Documento
                    </a> 
                
                   <a href="{% url 'TicketsApp.views.ticket_scale' pk=ticketpk.pk %}" class="btn btn-default btn-dark">
                                        <i class="fa fa-bar-chart"></i> Escalar
                   </a> 
                
                   <a href="{% url 'TicketsApp.views.ticket_transfer' pk=ticketpk.pk %}" class="btn btn-default btn-dark">
                                        <i class="fa fa-mail-reply"></i> Transferir Ticket
                   </a> 
                  
                   <a class="btn btn-default btn-dark">
                                        <i class="fa fa-print"></i> Imprimir Informe
                   </a> 
              </div>
        </div>

<!-- Resumen -->
    <div class="x_panel">
        <div class="x_title">
          <h2>Resumen</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="content invoice">
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <strong>Titulo: </strong> {{ticketpk.t_title}}<br>
                <strong>Fecha de Resolución: </strong> {{datesolved}}<br>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Apertura: </strong> {{dateopen}}<br>
                <strong>Fecha de Cierre: </strong> {{dateclosed}}<br>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Ultima Modificación: </strong> {{lastactivity}}<br>
              </div>
              <!-- /.col -->
                </div>
            <!-- /.row -->
          </section>
          <br>
          <div class="col-xs-6">
              <b>Descripción:</b><br>
              <p>{{ticketpk.t_description}}</p>
          </div>


        </div>
      </div>



      <!--User Affected info -->  
      <div class="x_panel">
        <div class="x_title">
          <h2>Detalle del usuario afectado</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="content invoice">
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <strong>Usuario final afectado: </strong> {{ticketpk.t_useraffected.get_full_name}}<br>
                <strong>Cuenta de usuario: </strong> {{ticketpk.t_useraffected}}<br>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Departamento: </strong> {{useraffected.u_department}}<br>
                <strong>Gerencia: </strong> {{useraffected.u_management}}<br>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Correo: </strong> {{ticketpk.t_useraffected.email}}<br>
                <strong>Telefono: </strong> {{useraffected.u_phone.phone_number}}<br>
              </div>
              <!-- /.col -->
                </div>
            <!-- /.row -->
          </section>
        </div>
      </div>
    

    <!-- Ticket Info -->
    <div class="x_panel">
        <div class="x_title">
          <h2>Detalle del ticket</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="content invoice">
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <strong>Tipo: </strong> <span id="sol2"></span>
                  <script>
                      var b = "{{ticketpk.t_isincident}}" 
                      var text;  
                       if ( b=="True") {
                          text = "<span class='label label-danger'>Incidente</span>"
                       }else{
                          text = "<span class='label label-info'>Solicitud"
                       }
                      document.getElementById("sol2").innerHTML = text;
                
                  </script>
                    <br>
                <strong>Categoría: </strong> {{ticketpk.t_category}}<br>
                <strong>Servidor afectado: </strong> {{ticketpk.t_server}}<br>
                <strong>Servicio afectado: </strong> {{ticketpk.t_service}}<br>
                

              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Grupo solucionador: </strong> {{ticketpk.t_department}}<br>
                <strong>Prioridad: </strong> {{ticketpk.t_priority}}<br>
                <strong>Estado: </strong> {{ticketpk.t_state}}<br>
                <strong>Asignatario: </strong> {{ticketpk.t_usersolver.get_full_name}}<br>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <strong>Reportado por: </strong> {{ticketpk.t_userreporter.get_full_name}}<br>
                <strong>Impacto: </strong> {{ticketpk.t_impact}}<br>
                <strong>SLA: </strong> {{ticketpk.t_sla}}<br>
                <strong>Tiempo de vida: </strong>{{sla.days}}d {{slahour}}h {{slaminute}}m<br>
              </div>
              <!-- /.col -->
                </div>
            <!-- /.row -->
          </section>
        </div>
      </div>

    

      <!-- Tablero del ticket -->
              <div class="x_panel">
                
                <div class="x_content">


                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Actividades</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Padre/Hijo</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Archivos Adjuntos</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                           <table id="example" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                      <tr class="headings">
                                        <th> </th>
                                        <th>Tipo </th>
                                        <th>Creado por </th>
                                        <th>Fecha </th>
                                        <th class=" no-link last"><span class="nobr">Descripción</span>
                                      </tr>
                                    </thead>

                                    <tbody>
                                    {% for activity in activities %}
                                      <tr class="even pointer">
                                        <td>
                                          <div class="container">
                                            <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#{{activity.at_id}}">+</button>
                                            <div class="modal fade" id="{{activity.at_id}}" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                  </button>
                                                  <h4 class="modal-title" id="myModalLabel">{{activity.at_tipe}} - {{activity.at_date}}</h4>
                                                </div>
                                                <div class="modal-body">
                                                  <h3>{{activity.at_createdby.get_full_name}}:</h3>
                                                  <p>{{activity.at_description}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </td>

                                        <td class=" ">{{activity.at_tipe}}</td>
                                        <td class=" ">{{activity.at_createdby}}</td>
                                        <td class=" ">{{activity.at_date}}</td>
                                        <td class="last" style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 500px;display: block;overflow: hidden"> {{activity.at_description}}</div></td>
                                      </tr>
                                    {% endfor %}

                                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                                    </tbody>

                                  </table>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="col-sm-4 invoice-col">
                              <h2> Padre: #{{ticketpk.t_mother.t_id}}</h2>
                            </div>
                            <div class="col-sm-4 invoice-col">
                              <h2> Estado: {{ticketpk.t_mother.t_state}}</h2>
                            </div>
                            <div class="col-sm-4 invoice-col">
                              <h2> Asignatario: {{ticketpk.t_mother.t_usersolver}}</h2>
                            </div>
                            <br>
                            <div class="col-sm-4 invoice-col">
                              <h2> Lista de hijos: </h2>
                            </div>
                            
                                <table id="example" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                      <tr class="headings">
                                        <th>Nº </th>
                                        <th>Fecha de la Solicitud </th>
                                        <th>Categoria </th>
                                        <th>Prioridad </th>
                                        <th>Resumen </th>
                                        <th>Estado </th>
                                        <th>Departamento </th>
                                        <th class=" no-link last"><span class="nobr">Asignatario</span>
                                      </tr>
                                    </thead>

                                    <tbody>
                                    {% for son in sons %}
                                      <tr class="even pointer">
                                        <td class=" "><a href="{% url 'TicketsApp.views.ticket' pk=son.pk %}">{{son.t_id}}</a></td>
                                        <td class=" ">{{son.t_reportmadeon}}</td>
                                        <td class=" ">{{son.t_category}}</td>
                                        <td class=" ">{{son.t_priority}}</td>
                                        <td class=" " style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden"> {{son.t_description}}</div></td>
                                        <td class="a-right a-right ">{{son.t_state}}</td>
                                        <td class="a-right a-right ">{{son.t_department}}</td>
                                        <td class=" last">{{son.t_usersolver}}</td>
                                      </tr>
                                    {% endfor %}

                                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                                    </tbody>

                                  </table>
                     </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <table id="example" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                      <tr class="headings">
                                        <th>Documento </th>
                                        <th>Descripción </th>
                                        <th>Adjunto el </th>
                                        <th class=" no-link last"><span class="nobr">Usuario que adjunta</span>
                                        </th>
                                      </tr>
                                    </thead>

                                    <tbody>
                                    {% for attached in attacheds %}
                                      <tr class="even pointer">
                                        <td class=" "><a target="_blank" href="{{attached.a_route.url }}">{{attached.a_name}}</a></td>
                                        <td class=" " style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden">{{attached.a_description}}</div></td>
                                        <td class=" ">{{attached.a_dateattached}}</td>
                                        <td class="last">{{attached.a_userattacher}}</td>
                                      </tr>
                                    {% endfor %}

                                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                                    </tbody>

                                  </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

    </div>
                    
</div>
 




{% endblock %}