{% extends 'TicketsApp/main.html' %}

    {% block title %} 
    Incidentes Personales
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                  <span class='label label-success'>  Requisitos Personales </span>
                    
                </h3>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Lista de requisitos</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="example" class="table table-striped responsive-utilities jambo_table sortable">
                    <thead>
                      <tr class="headings">
                        
                        <th>Nº </th>
                        <th>Fecha del Incidente </th>
                        <th>Categoria </th>
                        <th>Prioridad </th>
                        <th>Resumen </th>
                        <th>Estado </th>
                        <th>Departamento </th>
                        <th class=" no-link last"><span class="nobr">Asignatario</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for prequisite in prequisites %}
                      <tr class="even pointer">
                        
                        <td class=" "><a href="{% url 'TicketsApp.views.ticket' pk=prequisite.pk %}">{{prequisite.t_id}}</a>
                        </td>
                        <td class=" ">{{prequisite.t_reportmadeon}}</td>
                        <td class=" ">{{prequisite.t_category}}</td>
                        <td class=" ">{{prequisite.t_priority}}</td>
                        <td class=" " style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden"> {{prequisite.t_description}}</div></td>
                        <td class="a-right a-right ">{{prequisite.t_state}}</td>
                        <td class="a-right a-right ">{{prequisite.t_department}}</td>
                        <td class=" last">{{prequisite.t_usersolver}}</td>
                      </tr>
                    {% endfor %}

                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                    </tbody>

                  </table>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>


      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>




{% endblock %}