{% extends 'TicketsApp/main.html' %}

    {% block title %} 
    Solicitudes Personales
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                  <span class='label label-{{thistype.0.ty_color}}'>  {{thistype.0.ty_name}} Personales </span>
                    
                </h3>
            </div>

           
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Lista de solicitudes</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="Tabla" class="table table-striped responsive-utilities jambo_table sortable">
                    <thead>
                      <tr class="headings">
                        
                        <th>Nº </th>
                        <th>Fecha de la Solicitud </th>
                        <th>Categoria </th>
                        <th>Prioridad </th>
                        <th>Resumen </th>
                        <th>Estado </th>
                        <th>Departamento </th>
                        <th class=" no-link last"><span class="nobr">Asignatario</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for psolicitud in psolicitudes %}
                      <tr class="even pointer">
                        
                        <td class=" "><a href="{% url 'TicketsApp.views.ticket' pk=psolicitud.pk %}">{{psolicitud.t_id}}</a></td>
                        <td class=" ">{{psolicitud.t_reportmadeon}}</td>
                        <td class=" ">{{psolicitud.t_category}}</td>
                        <td class=" ">{{psolicitud.t_priority}}</td>
                        <td class=" " style="width:10%"><div style="white-space: nowrap;text-overflow: ellipsis; width: 300px;display: block;overflow: hidden"> {{psolicitud.t_description}}</div></td>
                        <td class="a-right a-right ">{{psolicitud.t_state}}</td>
                        <td class="a-right a-right ">{{psolicitud.t_department}}</td>
                        <td class=" last">{{psolicitud.t_usersolver}}</td>
                      </tr>
                    {% endfor %}

                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                    </tbody>

                  </table>
                  <script type="text/javascript">// < ![CDATA[
                    function Buscar() {
                                var tabla = document.getElementById('Tabla');
                                var busqueda = document.getElementById('Busqueda').value.toLowerCase();
                                var cellsOfRow="";
                                var found=false;
                                var compareWith="";
                                for (var i = 1; i < tabla.rows.length; i++) {
                                    cellsOfRow = tabla.rows[i].getElementsByTagName('td');
                                    found = false;
                                    for (var j = 0; j < cellsOfRow.length &#038;& !found; j++)
                                    {
                                        compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                                        if (busqueda.length == 0 || (compareWith.indexOf(busqueda) > -1))
                                        {
                                            found = true;
                                        }
                                    }
                                    if(found)
                                    {
                                        tabla.rows[i].style.display = '';
                                    } else {
                                        tabla.rows[i].style.display = 'none';
                                    }
                                }
                            }
                    // ]]></script>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>

      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>




{% endblock %}