{% extends 'TicketsApp/main.html' %}

    {% block title %} 
    Tareas pendientes
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    Tareas pendientes
                    
                </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Lista de pendientes</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table id="example" class="table table-striped responsive-utilities jambo_table sortable">
                    <thead>
                      <tr class="headings">
                        
                        <th>Nº </th>
                        <th>Fecha de la Solicitud </th>
                        <th>Categoria </th>
                        <th>Prioridad </th>
                        <th>Estado </th>
                        <th>Asignatario </th>
                        <th class=" no-link last sorttable_nosort"><span class="nobr"> SLA </span></th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for p in ptasks %}
                      <tr class="even pointer">
                        
                        <td class=" ">
                          <a href="{% url 'TicketsApp.views.ticket' pk=p.pk %}">
                          <span id="sol{{p.t_id}}">
                          <span class='label label-{{p.t_ttype.ty_color}}' style='font-size:15px'>{{p.t_id}}</span>
                          </span>
                          </a>
                        </td>
                        <td class=" ">{{p.t_reportmadeon}}</td>
                        <td class=" ">{{p.t_category}}</td>
                        <td class=" ">{{p.t_priority}}</td>
                        <td class=" ">{{p.t_state}}</td>                        
                        <td class="a-right a-right ">{{p.t_usersolver}}</td>
                        <td style="width:40%"> 
                          <div class="progress progress_sm" id ="pro{{p.t_id}}">
                            <script>
                              var p1 = {{p.delta_life}}
                              var text;  
                               if ( p1<100 && p1>=75) {
                                  text = "<div class='progress-bar progress-bar-danger' data-transitiongoal='{{p.delta_life}}'  style='width: 100%;'></div>"
                               }else if (p1<75 && p1>=50){
                                  text = "<div class='progress-bar progress-bar-warning' data-transitiongoal='{{p.delta_life}}'  style='width: 100%;'></div>"
                               }else if (p1<50){
                                  text = "<div class='progress-bar progress-bar-info' data-transitiongoal='{{p.delta_life}}'  style='width: 100%;'></div>"
                               }else{
                                  text = "<div class='progress-bar progress-bar-dark' data-transitiongoal='{{p.delta_life}}'  style='width: 100%;'></div>"
                               }
                              document.getElementById("pro{{p.t_id}}").innerHTML = text;
                        
                          </script>
                          </div>
                          <small>{{psolicitud.life_spawn}}</small>
                        </td>
                      </tr>
                    {% endfor %}

                    <script> $( "td:odd" ).css( "class", "odd pointer" );</script>                      
                    </tbody>

                  </table>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>

      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>




{% endblock %}