{% extends 'TicketsApp/main.html' %}
{% load staticfiles%}
    {% block title %} 
    Usuarios del equipo
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                    {{request.user.profile.u_department}}
                    
                </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Busqueda por estado...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Ir</button>
                        </span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Lista de usuarios de {{request.user.profile.u_department}}</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                 
                    
                    {% for son in usershierarchy %}
                     <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>{{son.u_jobtitle}}</i></h4>
                          <div class="left col-xs-7">
                            <h2>{{son.u_user.get_full_name}}</h2>
                            <small><ul class="list-unstyled">
                              <li><i class="fa fa-phone"></i>  {{son.u_phone}} </li>
                              <li> {{son.u_user.email}} </li>

                            </ul></small>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="{%static "" %}img/userphoto/{{son.u_user.username}}.jpg" onError ="this.src='{%static "" %}img/userphoto/noprofile.jpg'" alt="..." class="img-circle profile_img">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-12 emphasis">
                            <a href="{% url 'TicketsApp.views.users_id' pk=son.pk %}">
                           <button type="button" class="btn btn-primary btn-xs"> <i class="fa fa-bar-chart">
                                                            </i> Estadísticas </button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                    </tbody>

                  </table>
                </div>
              </div>
            </div>

            <br />
            <br />
            <br />

          </div>
        </div>

        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="pull-right">Carlos Farinha - Amagi</p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>




{% endblock %}